/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Oct, 2022, 10:50:39 PM
    Author     : User
*/

body {
    width: 1100px;
    margin: 50px auto;
}
form {
    text-align: center;
}

input[type=file] {
    border: 1px solid #eee;
}

.filter_div {
    text-align: center;
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.filter_div .date_input {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 6px 10px;
}

#stock_select {
    width: 20%;
}

table td {
    text-align: center;
}